#DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/torexlogger
DATABASE_URL=postgresql://postgres:sYDlxMRquwSrAqinWcfpULUMiVKIdUDy@junction.proxy.rlwy.net:23664/railway
JWT_SECRET_KEY=your-secret-key-change-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
REDIS_URL=redis://127.0.0.1:6379/0
API_HOST=0.0.0.0
API_PORT=8000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123